<h1>All Selfies</h1>

<% for selfie in @selfies %>
  <div class="selfie-thumb">
    <%# image_tag selfie.picture_url.to_s %>
    <%= image_tag selfie.picture_url(:thumb).to_s %>

    <p class="name"><%= selfie.name %></p>
  </div>
<% end %>