<body class="upload-selfie">

<h1>Add a Picture</h1>

<%= form_for @selfie do |s| %>

  <!-- 
  For error messages:
  http://stackoverflow.com/questions/3873190/f-error-messages-in-rails-3-0
  -->
  <%# s.hidden_field :gallery_id %>
  
  <button id='displayed-select'>Choose File</button>
  <%= s.file_field :picture, :id => 'hidden-select' %> <br>
  <%= s.text_field :name, :placeholder => 'Name your selfie' %> <br>
  <%= s.submit 'Submit', :id => 'submit' %>

<% end %>

</body>

<script>

$('#displayed-select').click(function() {
  event.preventDefault();
  $('#hidden-select').click();
  $('#displayed-select').addClass('selected');
  $('#displayed-select').html('Selected');
})

</script>