<h1>Humanitie</h1>
<p>We're going to space!</p>

<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>

<% if current_user %>
  <p><%= current_user.name %></p>
<% else %>
  <%= link_to "Sign in with Facebook", "auth/facebook" %>
<% end %>