<h1>Humanitie</h1>
<h2>We're going to space!</h2>

<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>

<%= link_to "Upload Picture", new_selfie_path, class: "upload" %> <br>

<% if current_user %>
  <p class="name"><%= current_user.name %></p>
  <%= link_to "Sign out", signout_path, class: "signout" %>
<% end %>