<main class="signin-upload">

<h1>Uploaded successfully</h1>
<h3>Please sign in to add your picture</h3>

<%= link_to "Sign in with Facebook", "auth/facebook", class: "facebook" %> <br>
<%= link_to "Sign in with Google+", "/auth/google_oauth2", class: "google" %>

</main>