<body class="terms">

<h1>Terms and Conditions</h1>

<section>

  <p>Ayo I'm a term</p>
  <p>And I'm a condition</p>

</section>

	<%= form_tag(profile_path, method: 'get') do %>
	   <%= hidden_field_tag :terms_of_service, 0 %>
       <%= check_box_tag :terms_of_service %>
	   <%= submit_tag %>
	<% end %>

</body>

<script>

$('#accept').click(function(){
  alert('Accepted!');
})

</script>