<body class="terms">

<h1>Terms and Conditions</h1>

<section>

  <p>Ayo I'm a term</p>
  <p>And I'm a condition</p>

</section>

<%= form_for @user do |u| %>
  <%= u.check_box :terms_of_service %>
  <%= u.submit %>
<% end %>

</body>

<script>

$('#accept').click(function(){
  alert('Accepted!');
})

</script>