/*
Place all the styles related to the site controller here.
They will automatically be included in application.css.
You can use Sass (SCSS) here: http://sass-lang.com/
*/

body {
  font-family: 'Roboto', 'Lucida Grande', sans-serif;
  color: white;
  padding: 30px;
  background: black;
}

h2 {
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 30px;
}

.name {
  font-size: 20px;
  padding-top: 5px;
}

.facebook, .google, .upload {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 9px 11px;
  border-radius: 3px;
  margin-bottom: 9px;
}

.upload {
  background: #B32424;
}

.facebook {
  background: rgb(66, 98, 160)
}

.google {
  background: rgb(216, 66, 50)
}

.signout {
  text-decoration: none;
  color: #BFBFBF;
}

.signout:hover {
  color: #FFBFBF;
}

.notice {
  color: #FFE4A8;
  font-size: 14px;
  margin-bottom: 15px;
}

.selfie {
  display: inline-block;
  margin: 20px;
}